.container{
    height:100%;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #121212;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .space-height{
    margin-top: 2% !important;
 }
.largura{
    width: 60%;
}
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.titulo{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15%;

}
.titulo h1{
    font-size: 50px;
    font-family: 'Parisienne', cursive;

}
.titulo h3{
    margin-left: 20%;
    font-size: 25px;
    font-family: 'Parisienne', cursive;

}
.form{
    background-color: #FFF;
    height: 90%;
    width: 45%;
    border-radius: 10px;
}
.topo{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.main{
    /* display: row !important; */
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.box{
    box-shadow: rgba(245, 242, 242, 0.35) 10px 5px 20px;

}
.group-btn{
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.logoLm{
    justify-content: center !important;
    align-items: center !important;
    width: 330px;
    height:170px;
}
.select{
    width: 35%;
    margin-top: 2%;
}
.lbl-select{
    margin-left: 2%;
    margin-right: 1%;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
    background-color: #FFF;
}

.btn-salvar{
    margin-top: 30px;
}

.line{
    width: 60%;
}

.area-valor{
    display: flex;
    flex-direction: row;
}
.area-valor-final{
    display: flex;
    flex-direction: row; 
}

.area-valor-space{
    margin-left: 100px !important;
    padding-left: 10px !important;
}