.container{
    height:100%;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #121212;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    /* display: row !important; */
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    
}
.box{
    box-shadow: rgba(245, 242, 242, 0.35) 10px 5px 20px;
    background-color: #FFF;
    width: 90%;
    margin-left: 5%;
    padding-left: 5%;
    border-radius: 15px;

}


.input{
    width: 90%;
}
.group-btn{
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.btn-salvar{
    margin-top: 30px;
}

/* parte da tabela */

table{
    border:1 solid #CCC;
    border-collapse:  collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption{
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr{
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    padding: .35em;
}
table th, table td{
    padding: .62em;
    text-align: center;
}

table th{
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

table td .action{
    border: 0;
    padding: 5px;
    margin-right: 2px;
    align-items: center;
    display: inline-block;
    border-radius: 4px;
    color: #FFF;
}

table td .action svg{
    vertical-align: middle;
}

table td .badge{
    padding: 3px;
    border-radius: 3px;
    color: #FFF;
}

@media screen and (max-width: 600px) {
    table{
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #DDD;
        display: block;
        margin-bottom: .65em;

    }

    table td {
        border-bottom: 1px solid #DDD;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child{
        border-bottom: 0;
    }
}